:root {
    --black: #000000;
    --white: #ffffff;
  }

.body{
    /* background-color: black;
    color: white; */
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-variation-settings:
      "XROT" 0,
      "YROT" 0; */
}
.main{

    width: 800px;
    height: 500px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--black);
    color: var(--white);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 40px;
    border-radius: 20px;
}
.popup{
    width: 600px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--black);
    color: var(--white);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    border-radius: 20px;
}
.popup button{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border-radius: 10px;
    background-color:var(--black);
    color: var(--white);
    border: 2px solid var(--white);
}
.popup button:hover{
    color:var(--black);
    background-color: var(--white);
}
.score{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;

    /* justify-content: space-between;
    align-items: center;
    flex-direction: row;
    */
} 
.resultcon{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; */
}
.btns{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}
.btns button{
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns button img{
    width: 80px;
    margin: 0px;
    padding: 0px;
    transition: .4s;
}
.btns button img:hover{
    transform: scale(1.5);
    filter: invert(100%);
}
h1{
    font-size: 80px;
    margin: 0;
    text-align: center;
}
h3{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.namecard{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--black);
    color: var(--white);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    border-radius: 20px;
}
.namecard input{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:var(--black);
    color: var(--white);
    font-size: 30px;
    padding: 10PX;
    border-radius: 10px;
}
.namecard button{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:var(--black);
    color: var(--white);
    font-size: 30px;
    padding: 10PX;
    border-radius: 10px;
}
.namecard button:hover{
    background-color:var(--white);
    color: var(--black);
}
.blink{
    animation: bln 1s ease-out;
}
@keyframes bln  {
    0% {
      opacity: 0.1;
      scale: 0.2;
    }
    100% {
        opacity: 1; 
        scale: 1;

    }
  }
  .slid{
    animation: sln 1s ease-out;
}
@keyframes sln  {
    0% {
        opacity: 0;
      }
      100% {
          opacity: 1; 
      }
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0px;
    box-shadow: 0px 0px 25px 12px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--black);
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--black);
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  footer{
    width: 100%;
    border: 0px solid var(--white);
    border-radius: 0px;
    margin: 0 0px 0 0px;
    color: var(--white);
    background-color: var(--black);
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container div{
    padding: 5px;
}
.credits a {
    text-decoration: none;
    color: var(--white);
}

@media only screen and (max-width: 600px){
    .main{

        width: 200px;
        height: 400px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 25px;
    }
    .btns button img{
        width: 60px;
        
    }
    .btns button img:hover{
        transform: scale(1);
        filter: invert(0%);
    }
    .btns {
        margin: 10px;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .namecard{
        display: flex;
        flex-direction: column;
    }
        /* display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:var(--black);
        color: var(--white);
        font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        padding: 20px;
        border-radius: 20px; */
    .namecard input{
        /* font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background-color:var(--black);
        color: var(--white); */
        margin-bottom: 10px;
        font-size: 20px;
        /* padding: 10PX;
        border-radius: 10px; */
    }
    .namecard button{
        /* font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background-color:var(--black);
        color: var(--white); */
        font-size: 20px;
        background-color:var(--white);
        color: var(--black);
        /* padding: 10PX;
        border-radius: 10px; */
    }
    .namecard button:hover{
        background-color:var(--white);
        color: var(--black);
    }
    .popup{
        width: 200px;
        /* display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:var(--black);
        color: var(--white);
        font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        padding: 20px;
        border-radius: 20px; */
    }
    .popup button{
        /* font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal; */
        font-size: 20px;
        /* border-radius: 10px;
        background-color:var(--black);
        color: var(--white);
        border: 2px solid var(--white); */
        color:var(--black);
        background-color: var(--white);
    }
    .popup button:hover{
        color:var(--black);
        background-color: var(--white);
    }
}